<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Admin - Loja de Pratas</title>
  </head>
  <body>
    <h2>Cadastrar produto</h2>

    <form action="/api/products" method="POST" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="Nome do produto" required />

      <input
        type="number"
        step="0.01"
        name="price"
        placeholder="Preço"
        required
      />

      <input type="file" name="image" required />

      <button type="submit">Cadastrar produto</button>
    </form>
  </body>
</html>
